h1,h2,h3,h4 {
	font-family: 'Montserrat';
	font-weight: bold;
	color: #4073b5;
	text-transform: uppercase;
}

h1 {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	display: inline-block;
}

p, ul, li, input, select, textarea, label {
	font-family: 'Poppins';
}

p {
	font-size: 18px;
	color: #333;
	margin-bottom: 35px;
	text-align: left;
}

.lista {
	margin: 0;
	padding-left: 15px;
}

.titulo-grande {
	font-size: 24px;
	text-align: center;
}

.titulo-medio {
	font-size: 20px;
}

.titulo-orcamento {
	color: #fff;
    margin: 0 0 30px 0;
}

.block-center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.espaco-quemsomos {
	margin-top: 50px;
}

.menor {
	font-size: 14px;
}

.lista {
	text-align: left;
}

.active {	
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}

.sub-topo {
   font-family: 'Montserrat';
   font-size: 24px;
   text-align: center;
}
.menu-site {
	margin-top: 55px;
}

.menu-site li a {
	color: #fff;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: bold;
}

.menu-site li a:hover,
.menu-site li a:focus,
.menu-site li a:active {
	color: #fff;
	background: transparent;
}

.main-banner .owl-dots {
	text-align: center;
	position: absolute;
    bottom: 10px;
    width: 100%;
}

.main-banner button.owl-dot {
	width: 15px;
	height: 15px;
	margin-right: 10px;
	border-radius: 50%;
	background: #fff;
}

.main-banner button.owl-dot:hover,
.main-banner button.owl-dot:active,
.main-banner button.owl-dot:focus {
	background: #ccc;
}

.main-banner button.owl-dot.active {
	background: #4073b5;
}

.page-header {
    position: static;

}

.nossos-servicos {
	margin-top: 150px;	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 987px;
	text-align: center;
}

.nossos-servicos .nossos-servicos-titulo {
	color: #fff;	
	margin-bottom: 120px;
}

.box-servico {
	background-color: #4073b5;
	padding: 20px;
	min-height: 620px;
	display: flex;
	align-items: center;
	
}

.box-servico .box-servico-titulo {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 60px;
	text-align: center;
}

.box-servico .box-servico-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.box-servico .box-servico-descricao {
	font-size: 14px;
	color: #fff;
}

@media (max-width: 992px){

	.box-servico {
		margin-top: 20px;
	}

	.nossos-servicos {
		min-height: auto;
	}
}

.carousel-1 {
         text-align: center; 
         background-color: #fff; 
         padding-top: 50px;
         padding-bottom: 30px;

}

.container-contato {
  background-color: #4073b5;
  font-family: 'Poppins' 14px;
  margin-top: 40px;
  padding: 40px;
}

.img {
	width: 550px;
	
}

.icones{
	padding-right: 8px;
}

.ajuste-imagens {
  float:right; 
  
}

.texto {
  text-align: center ;
  color: #fff;
  margin-bottom: 35px;
  margin-top: 45;
} 

.box {
	background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

.container-cadastro { 	
  background-color: #4073b5;
  margin-bottom: 45px;
  font-family: 'Poppins' 14px;
  color: #fff; 
}

.seta-topo {
	
}
   
.footer {
  font-family: 'Montserrat' normal 14px #fff;
  background-color: #4073b5;
  color: #fff;
  height: 125px;
  margin-top:40px;	
}	


.banner {
	position: relative;
	z-index: 1;
	top: 0;
}

.topo {
	position: absolute;
	z-index: 2;
	top: 60px;
	width: 100%;
}

.box-post {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	min-height: 138px;
	width: 100%;
	border: none;
	transition: .2s ease-in-out all;
}

.box-post:hover,
.box-post:focus,
.box-post:active {
	transform: translate3d(5px, -5px, -135px)
}

.hide-animated {
	opacity: 1;
	animation: fadeOut 0.2s linear forwards;
}

.trabalhos-realizados-carousel .owl-dots {
    width: 100%;
	margin-top: 15px;
	text-align: center;
}

.trabalhos-realizados-carousel button.owl-dot {
	width: 15px;
	height: 15px;
	margin-right: 10px;
	border-radius: 50%;
	background: #fff;
}

.trabalhos-realizados-carousel button.owl-dot:hover,
.trabalhos-realizados-carousel button.owl-dot:active,
.trabalhos-realizados-carousel button.owl-dot:focus {
	background: #ccc;
}

.trabalhos-realizados-carousel button.owl-dot.active {
	background: #4073b5;
}

.trabalhos-realizados-carousel .link-banner {
	display: inline-block;
	position: relative;
}

.trabalhos-realizados-carousel .link-banner::after{
	position: absolute;
	width: 100%;
	height: 20px;
	color: #fff;
	text-align: center;
	bottom: 0;
	font-size: 13px;
	font-family: 'Poppins';
}

.trabalhos-realizados-carousel .img-link-antes::after {
	content: 'Antes';
	background: #d22929;
}

.trabalhos-realizados-carousel .img-link::after {
	content: 'Depois';
	background: #4073b5;
}


.trabalhos-realizados-carousel .item {
	height: 285px;
	overflow: hidden;
	font-size: 0;
}

.trabalhos-realizados-carousel .item .container-banner-trabalhos {
	width: 350px;
}

.translateTop {
	animation: translateTop 0.2s ease-in-out forwards;
}

@keyframes translateTop {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-285px);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}
}

.table-orcamento th {
	font-size: 16px;
	text-transform: uppercase;
}

.table-orcamento td {
	font-size: 14px;
}

.table-orcamento th,
.table-orcamento td {
	color: #fff;
}

.form-control {
	border-color: transparent;
	color: #333;
	margin-top: 5px;
	border-width: 2px;
}

.form-label {
	color: #fff;
	font-family: 'Poppins';
	font-size: 18px;
	font-weight: normal;
	width: 100%;
	display: inline-block;
	position: relative;
}

.btn-white {
	font-family: 'Poppins';
	color: #4073b5;
    background-color: #fff;
	border-color: #fff;
	font-weight: bold;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active {
	color: #fff;
	background-color: #114488;
    border-color: #114488;
}

.btn-white.-smaller {
	padding: 3px 12px;
    font-size: 12px;
}

.wpcf7-form-control-wrap {
	position: static;
}

span.wpcf7-not-valid-tip {
    color: #edff00;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 12px;
}

.form-control.wpcf7-not-valid {
	border-color: #edff00;
}

.wpcf7-response-output {
	display: none!important;
}

.ajax-loader {
	width: 25px;
	height: 25px;
	background-size: 100%;
	background-image: url('../images/loader-white.svg');
	display: inline-block;
    vertical-align: middle;
}

ul.lista-orcamento {
    list-style: none;
}
.lista-orcamento li {
	margin-bottom: 10px;
	font-size: 18px;
}

.lista-orcamento-image {
	margin-right: 5px;
}

.btn-orcamento {
	margin-top: 40px;
	display: block; 
}

.btn-blue {
	background-color: #1d3758;
	color: #fff;
	position: fixed;
	top: 45%;
	border-radius: 0;
	right: 0px;
	z-index: 999;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
	background-color: #0f233d;
	color: #fff;
}

.social-group {
	width: 48px;
	position: fixed;
	top: 45%;
	z-index: 999;
}

.social-group button {
	border: none;
}

.alert-success {
	color: #ffffff;
	background-color: #5a9841;
	border: none;
    margin-top: 30px;
}

.alert-danger {
	color: #ffffff;
    background-color: #e83f3f;
	border-color: none;
    margin-top: 30px;	
}

.header-bar {
	background-color: #4073b5;
	padding: 10px 0;
	color: #fff;
	font-family: 'Montserrat';
	font-size: 12px;
}


.bigger {
	font-size: 20px;
	line-height: 12px;
}

.horario-funcionamento .icon,
.telefones-contato .icon {
	display: inline-block;
	vertical-align: middle;
}

.servicos-orcamento {
	margin-bottom: 25px;
}

.footer-line {
	position: relative;
}

.footer-line .btn-up {
	position: absolute;
	right: 90px;
	top: -10px;
	transform: rotateZ(90deg);
}

.footer-line .btn-up i {
	transform: rotateY(270deg);
}