
.icon-user:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-video:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-interpretation:before { content: '\e806'; } /* '' */
.icon-play-circled2:before { content: '\e807'; } /* '' */
.icon-article:before { content: '\e808'; } /* '' */
.icon-adjust:before { content: '\e809'; } /* '' */
.icon-down-dir:before { content: '\e80a'; } /* '' */
.icon-resize-horizontal:before { content: '\e80b'; } /* '' */
.icon-clock:before { content: '\e80c'; } /* '' */
.icon-money:before { content: '\e80d'; } /* '' */
.icon-link:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-american-sign-language-interpreting:before { content: '\f2a3'; } /* '' */
.icon-sign-language:before { content: '\f2a7'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */